
body{
  position: relative;
  min-height: 800px;
  height: 100%;
  background: url('https://www.bypeople.com/wp-content/uploads/2014/05/light-live-background-css.jpg') repeat 0 0 scroll;
  background-color:#0C0C0C;
  width:100%;
}
.footer{
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 80px;
}
