<header>
  <app-toolbar></app-toolbar>
</header>
<body >
  <div class="container d-flex justify-content-between">
    <div class="col-7">
      <app-new-message></app-new-message>
    </div>
    <div class="col-7">
      <app-messages></app-messages>
    </div>
  </div>

<footer class="footer bg-dark mt-auto text-center">
  <p>Bishkek Kyrgyzstan 2021</p>
</footer>
</body>
