<h4>All messages</h4>
<ng-container *ngIf="!loading ; else loadingSpinner">
  <div class="message m-2 border border-dark p-2 "
       *ngFor="let message of allMessages"
  >
    <p>Messages: <strong>{{message.message }}</strong></p>
    <p>Author: <strong>{{ message.author}}</strong></p>
    <p>Date: <strong>{{ message.datetime }}</strong></p>

  </div>
</ng-container>
<ng-template #loadingSpinner>
  <div *ngIf="loading" class="spinner-border">
    <span class="sr-only">Loading...</span>
  </div>
</ng-template>
