<h4>Add new message</h4>
<form (ngSubmit)="createMessage()" #f = "ngForm">
  <div class="form-group">
    <label for="message" class="btns">Messages text</label><br>
    <textarea  id="message" cols="30" rows="10" name="message" ngModel></textarea>
  </div>
  <div class="form-group">
    <label for="author" class="btns">Author</label><br>
    <input type="text" id="author" name="author" ngModel/>
  </div>
  <button class="btn btn-dark"
          [disabled]="isUpLoading"
  > <span *ngIf="!isUpLoading">
         Add
        </span>
    <span *ngIf="isUpLoading"
          class="spinner-border spinner-border-sm">
          <span class="sr-only">Loading ... </span>
        </span>
    </button>
</form>
